{% load staticfiles %}
<html>
<head>
  <title>Torre de Hanoi - Instruções</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <script src="{% static "css/jquery.min.js" %}"></script>
  <script src="{% static "css/bootstrap.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/instrucoes.css" %}">
</head>
<body>

<div class = "container">
    <div class="row">
        <p id="head" class="bg-primary">Instruções</p>
        <div class="col-md-5">
            <p class="bg-success">Como jogar?</p>
            <p>O objetivo deste jogo consiste em deslocar todos os discos da haste onde se encontram para uma haste diferente, respeitando as seguintes regras:</p>
            <ul>
                <li>Deslocar um disco de cada vez, o qual deverá ser o do topo de uma das três hastes;</li>
                <li>Cada disco nunca poderá ser colocado sobre outro de diâmetro menor. </li>
            </ul>
            <img id='exemplo' src="{% static 'images/hanoi.gif' %}" alt="">
        </div>
        <div class="col-md-5">
            <p class="bg-danger">Origem</p>
            <p>Existem várias lendas a respeito da origem do jogo, a mais conhecida diz respeito a um templo Hindu, situado no centro do universo. Diz-se que Brama supostamente havia criado uma torre com 64 discos de ouro e mais duas estacas equilibradas sobre uma plataforma. Brama ordenara-lhes que movessem todos os discos de uma estaca para outra segundo as suas instruções. As regras eram simples: apenas um disco poderia ser movido por vez e nunca um disco maior deveria ficar por cima de um disco menor. Segundo a lenda, quando todos os discos fossem transferidos de uma estaca para a outra, o templo iria desmoronar e o mundo desapareceria.</p>
        </div>
        <div class="col-md-2">
            <p class="bg-info">Vamos lá?</p>
            <a href="{% url 'jogo' %}">
                <img src="{% static 'images/play_button.png' %}" class="img-circle btn jogar">
            </a>
            <a href="{% url 'index' %}">
                <img src="{% static 'images/home_icon.png' %}" class="voltar img-circle btn" alt="">
            </a>
        </div>
    </div>
</div>


</body>
</html>
