{% load staticfiles %}
<html>
<head>

    <title>Torre de Hanoi - Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container-fluid">
    <div class="wrapper">
        <img class="form-signin-heading" src="{% static 'images/logo.png' %}"/>
        <hr>
        <br>
        <button type="button" class="btn btn-info btn-lg btn-block picks" data-toggle="modal" data-target="#myModal">
            VAMOS
            JOGAR
        </button>
        <a href="{% url 'instrucoes' %}" class="btn btn-lg btn-warning btn-block picks" type="button">INSTRUÇÕES</a>
        <a href="{% url 'sair' %}" class="btn btn-lg btn-danger btn-block picks" type="button">SAIR</a>
        <!-- <button class="btn btn-lg btn-danger btn-block picks" type="button">SAIR</button> -->


        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="font-size: 200%;">Escolha um nível</h4>
                    </div>
                    <div class="modal-body">
                        <a href="{% url 'jogo' 1 %}" class="btn btn-success nivel">
                            <p class="dificuldade">Nível 1 - Fácil</p>
                            <p>(3 pinos)</p>
                        </a>
                        <br>
                        <a href="{% url 'jogo' 2 %}" class="btn btn-warning nivel">
                            <p class="dificuldade">Nível 2 - Médio</p>
                            <p>(5 pinos)</p>
                        </a>
                        <br>
                        <a href="{% url 'jogo' 3 %}" class="btn btn-danger nivel">
                            <p class="dificuldade">Nível 3 - Difícil</p>
                            <p>(7 pinos)</p>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>
