<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    .wrapper {
	margin-top:10%;
	margin-bottom:15%;
	margin-left:30%;
	margin-right:30%;
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 5px grey;
}
  body{
    background-color: #CCCCCC;
}
  img{
    width: 97%;
  }

  </style>
</head>
<body>

 <div class = "container-fluid">
	<div class="wrapper">
          <img class="form-signin-heading" src="https://s14.postimg.org/42vzm5eg1/logo.png"/>
          <hr><br>
          <button class="btn btn-lg btn-primary btn-block" type="button">VAMOS JOGAR</button>
          <a href="{% url 'instrucoes' %}" class="btn btn-lg btn-warning btn-block" type="button">INSTRUÇÕES</a>
          <button class="btn btn-lg btn-danger btn-block" type="button">SAIR</button>

	</div>
</div>


</body>
</html>