{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>Torre de Hanói - Jogo</title>
    <!--- link to the last version of babylon --->
    <script src="{% static 'js/babylon.js' %}"></script>
    <style>
        html, body {
            overflow: hidden;
            width   : 100%;
            height  : 100%;
            margin  : 0;
            padding : 0;
        }

        #renderCanvas {
            width   : 100%;
            height  : 100%;
            touch-action: none;
        }

    </style>
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>
    <button id="muda">muda</button>
    <input type="text" placeholder="De" id="de_field">
    <input type="text" placeholder="Para" id="para_field">
    <canvas id="renderCanvas"></canvas>
<script>
var qtd = 5;
</script>
<script src="{% static 'js/nivel_1.js' %}"></script>
</body>
</html>
